name: PR Validation

on:
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    name: Build & Test
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Grant execute permissions
        run: |
          chmod +x gradlew

      - name: Build app
        run: ./gradlew assembleDebug

      - name: Run Unit Tests
        run: |
          ./gradlew :data:test
          ./gradlew :domain:test
          ./gradlew :presentation:test

      - name: Publish Test Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            data/build/test-results/**/*.xml
            domain/build/test-results/**/*.xml
            presentation/domain/build/test-results/**/*.xml